$primary_1: #878f99;
$primary_2: #ddd;
$primary_3: #fff;

.darken {
  background-color: $primary_1;
}

.center{
    text-align: center;
}

.pagination {
    justify-content: center;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: $primary_2;
    border-color: $primary_3;
}

.page-item.active .page-link {
    z-index: 1;
    color: $primary_3;
    background-color: $primary_1;
    border-color: $primary_3;
}
.page-link {
    color: #000;
    &:hover{
        color: $primary_3;
    }
}

.modal-content {
    background-color: $primary_1 !important;
    color:$primary_3;
}

.tool{
    color:#fff;
}

.tooltip-inner {
    background-color: $primary_1 !important;
    color: #fff;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: $primary_1;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: $primary_1;
  }

  .tooltip.bottom .tooltip-arrow {
    border-bottom-color: $primary_1;
  }

  .tooltip.left .tooltip-arrow {
    border-left-color: $primary_1;
  }
