.darken {
  background-color: #878f99;
}

.center {
  text-align: center;
}

.pagination {
  justify-content: center;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #ddd;
  border-color: #fff;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #878f99;
  border-color: #fff;
}

.page-link {
  color: #000;
}

.page-link:hover {
  color: #fff;
}

.modal-content {
  background-color: #878f99 !important;
  color: #fff;
}

.tool {
  color: #fff;
}

.tooltip-inner {
  background-color: #878f99 !important;
  color: #fff;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #878f99;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #878f99;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #878f99;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #878f99;
}

